.lotesfinalizados-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.lotesfinalizados-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f1f5f9;
    overflow: auto;
}

.lotesfinalizados {
    padding: 24px;
}
